*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
    margin: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

header .mountains {
    position: absolute;
    display: block;
    bottom: -5px;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

header .mountains .one, header .mountains .two, header .mountains .three, header .mountains .four, header .mountains .five, header .mountains .six, header .mountains .seven{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header .mountains .one {
    background-image: url('Layers/Collines/accueil-colline-1.png');
    z-index: 0;
}

header .mountains .two {
    background-image: url('Layers/Collines/accueil-colline-2.png');
    z-index: -1;
}

header .mountains .three {
    background-image: url('Layers/Collines/accueil-colline-3.png');
    z-index: -2;
}

header .mountains .four {
    background-image: url('Layers/Collines/accueil-colline-4.png');
    z-index: -3;
}

header .mountains .five {
    background-image: url('Layers/Collines/accueil-colline-5.png');
    z-index: -4;
}

header .mountains .six {
    background-image: url('Layers/Batiments/batiments.png');
    z-index: -5;
}

header .mountains .seven {
    background-image: url('Layers/accueil-bg.png');
    z-index: -6;
}

section {
    padding: 50px 0;
}
